  * {
      box-sizing: border-box;
  }

  body {
      font-family: Cambria;
      margin: 0;
      padding: 0;
      background-color: black;
  }

  header {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background: green;
      color: black;
      text-align: center;
      padding: 30px;
  }

  h1 {
      font-size: 36px;
      text-align: center;
  }

  p {
      text-align: center;
      font-size: 22px;
  }

  h2 {
      text-align: center;
      font-size: 1.8rem;
      margin-top: 10px;
  }

  footer {
      font-size: .5rem;
      text-align: center;
      color: white;
      margin-top: 5rem;
  }

  .grid-container {
      display: flex;
      max-width: 100vw;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: center;
  }

  .grid-item {
      background-color: black;
      color: green;
      font-size: 25px;
      text-align: center;
  }

  .menu {
      text-align: left;
      font-size: 20px;
      font-family: Gill Sans;
  }

  a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
  }


  a:visited {
      color: green;
      background-color: transparent;
      text-decoration: none;
  }

  .main {
      display: flex;
      padding-left: 2rem;
      flex-wrap: wrap;
      max-width: 100%;
      justify-content: space-evenly;
  }


  .gif-gallery {
      align-items: center;
  }

  img {
      margin-top: 8px;
      vertical-align: middle;
  }

  .videos,
  .videos>video {
      max-width: 30%;
      height: auto;
  }

  .video-box {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  nav {
      max-width: 100vw;
      justify-content: space-around;
      display: flex;
  }

  li {
      list-style-type: none;
  }

  button {
      display: none;
  }

  .marketing-list {
      text-align: left;
      color: white;
      display: flex;
      padding-left: 5rem;
      padding-top: 1rem;
  }

  .marketing-images,
  .marketing-assets {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 100%;
  }

  .marketing-images>img {
      max-width: 30%;
      height: auto;
  }

  .screenshots>img {
      max-width: 40%;
      height: auto;
  }

  .screenshots {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .metrics {
      max-width: 100%;
      margin: 0 auto;
      padding-top: 1.5rem;
      display: flex;
      justify-content: space-evenly;
  }

  .subcat {
      margin: 1rem;
      display: flex;
      margin-top: 5%;
      justify-content: space-evenly;
  }

  .category {
      text-align: center;
      font-size: 28px;
      display: grid;
  }

  .video-box {
      display: flex;
      align-items: center;
      margin: 1rem;
      max-width: 100%;
  }

  .videos {
      display: flex;
      border: 2px solid green;
      padding: 1rem;
      flex-wrap: wrap;
  }



  @media screen and (max-width: 600px) {

      .metrics,
      .screenshots, .main {
          display: inline;
          max-width: 100%;
          justify-items: center;
      }

      .screenshots>img {
          max-width: 100%;
      }


      .gif-gallery {
          justify-items: center;
          display: inline;
          max-width:100%;
      }

      h2 {
          font-size: 1rem;
      }

      .menu {
          position: relative;
      }

      .menu:hover nav {
          display: block;
      }

      nav {
          background-color: rgba(203, 238, 199, .9);
          display: none;
          width: 200px;
          position: absolute;
      }

      nav a {
          color: black;
          font-size: 1.1em;
          display: block;
          padding: 12px 25px;
      }

      a:hover nav:hover {
          background-color: lawngreen;
          transition: ease-in-out 0.3s;
      }

      a:active {
          color: darkgreen;
          background-color: transparent;
          text-decoration: none;
      }

      button {
          color: white;
          display: inline-flex;
          background-color: green;
          font-size: 1em;
          border: none;
          padding: 10px 15px;
      }

      .marketing-list {
          padding-left: 1rem;
          font-size: .5rem;
      }

      .marketing-images,
      .marketing-assets {
          display: inline;
          max-width: 100%;
          justify-items: center;
      }

      .marketing-images>img {
          max-width: 100%;
      }
  }