  * {
      box-sizing: border-box;
  }

  body {
      font-family: Cambria;
      margin: 0;
      padding: 0;
      background-color: black;
  }

  header {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background: green;
      color: black;
      text-align: center;
      padding: 30px;
  }

  h1 {
      font-size: 36px;
      text-align: center;
  }

  p {
      text-align: center;
      font-size: 22px;
  }

  .intro>p {
      font-size: 1.3rem;
      text-align: justify;
      padding: 1rem;
      color: white;
      margin-left: 2rem;
      margin-right: 2rem;
  }


  h2 {
      text-align: center;
      font-size: 1.8rem;
      margin-top: 10px;
      color: white;
  }

  footer {
      font-size: .5rem;
      text-align: center;
      color: white;
      margin-top: 5rem;
  }

  .grid-container {
      display: flex;
      max-width: 100vw;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: center;
  }

  .grid-item {
      background-color: black;
      color: green;
      font-size: 25px;
      text-align: center;
  }

  .menu {
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      font-family: Gill Sans;
  }

  a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
  }


  a:visited {
      color: green;
      background-color: transparent;
      text-decoration: none;
  }

  .main {
      display: flex;
      padding: 2rem;
      flex-wrap: wrap;
      max-width: 100%;
      justify-content: space-between;
  }

  ul {
      font-size: 20px;
  }

  .gif-gallery>img {
      align-items: center;
      max-width: 100%;
      height: auto;
      padding: .5rem;
  }

  img {
      margin-top: 8px;
      vertical-align: middle;
  }

  .videos,
  .videos>video {
      max-width: 30%;
      height: auto;
  }

  .video-box {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  nav {
      max-width: 100vw;
      justify-content: space-around;
      display: flex;
  }

  li {
      list-style-type: none;
  }


  .marketing-list {
      text-align: left;
      color: white;
      display: flex;
      font-size: 22px;
      justify-content: center;
  }

  .skill-list {
      display: flex;
      justify-content: center;
  }

  .marketing-images,
  .marketing-assets {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 100%;
  }

  .marketing-images>img {
      max-width: 30%;
      height: auto;
  }

  .screenshots>img {
      max-width: 40%;
      height: auto;
  }

  .screenshots {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      justify-content: space-around;
  }

  .metrics {
      max-width: 100%;
      margin: 0 auto;
      padding-top: 1.5rem;
      display: flex;
      justify-content: space-around;
  }

  .subcat {
      margin: 1rem;
      display: flex;
      margin-top: 5%;
      justify-content: space-evenly;
  }

  .category {
      text-align: center;
      font-size: 28px;
      display: grid;
  }

  .vidbox {
      display: flex;
      margin: 1rem;
      flex-wrap: wrap;
      max-width: 100%;
      align-content: center;
      justify-content: space-around;
  }

  .vids {
      padding: 1rem;
      justify-content: center;
  }

  video {
      height: auto;
      max-width: 50%;
  }

  .design-list {
      display: flex;
      justify-content: space-around;
  }

  .web-dev {
      display: flex;
      max-width: 100%;
  }

  .dev-images>img {
      max-width: 50%;
      height: auto;
  }

  .dev-images {
      margin: 20px;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
  }

  .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .container2 {
      text-align: center;
      max-width: 100vw;
      margin: 0 auto;
  }

  #menu-toggle {
      display: none;
  }

  label,
  input {
      display: none;
  }


  @media screen and (max-width: 600px) {

      .metrics,
      .screenshots,
      .main {
          display: inline;
          max-width: 100%;
          justify-items: center;
      }

      .screenshots>img {
          max-width: 100%;
      }


      .gif-gallery {
          justify-items: center;
          display: inline;
          max-width: 100%;
      }

      h2 {
          font-size: 1rem;
          margin-top: 2px;
      }

      .menu {
          position: relative;
          padding: 15px 15px;
      }

      nav {
          background-color: rgba(0, 128, 0, .8);
          display: none;
          width: 60%;
          position: absolute;
box-shadow: 3px 3px 25px 25px rgba(124, 128, 127, 0.01);      }

      nav a {
          font-size: 1.1em;
          display: block;
          padding: 5%;
      }

      .intro>p {
          margin: 5%;
          padding-left: 10px;
          padding-right: 10px;
      }



      .container2 {
          padding: 10px;
          max-width: 60%;
      }

      .marketing-list {
          padding-left: 1rem;
      }

      .marketing-images,
      .marketing-assets {
          display: inline;
          max-width: 100%;
          justify-items: center;
      }

      .marketing-images>img {
          max-width: 100%;
      }

      .web-dev {
          max-width: 100%;
          display: inline;
      }

      .dev-images {
          margin: .5rem;
          padding: 1rem;
      }


      .subcat {
          display: inline;
      }


      #menu-toggle:checked+label+nav {
          display: block;
      }

      label {
          display: inline;
          color: white;
          font-size: 1em;
          border: none;
      }

  }